# IntelliJ IDEA
.idea/
*.iml
out/

# CMake / build dirs
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

# Java
*.class
*.log
hs_err_pid*

# Maven / Gradle
target/
.gradle/
.mvn/

# OS
.DS_Store
Thumbs.db

# Audio / artifacts (если не хочешь хранить большие wav — можно удалить эти строки)
# *.wav

